<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.GoodsMapper">


    <select id="queryAll" resultType="com.zh.pojo.Goods">
        SELECT * FROM goods
    </select>

    <select id="queryByGname" resultType="com.zh.pojo.Goods">
        SELECT * FROM  goods
        <where>
            <if test="Gname != null and Gname != ''">
                AND Gname LIKE concat('%',#{Gname},'%')
            </if>
        </where>
    </select>

    <delete id="delete">
        delete FROM goods where Gid=#{Gid}

    </delete>

    <insert id="saveGoods" parameterType="com.zh.pojo.Goods">
        INSERT INTO
        goods (Gname,Gprice,Gtype,Grest,Gdetail,Gimg)
        VALUE
        (#{Gname},#{Gprice},#{Gtype},#{Grest},#{Gdetail},#{Gimg})
    </insert>

    <update id="updateGoods" parameterType="com.zh.pojo.Goods">
        UPDATE goods SET
        Gname=#{Gname},Gprice=#{Gprice},Gtype=#{Gtype},Grest=#{Grest},
        Gdetail=#{Gdetail},Gimg=#{Gimg}
        WHERE Gid=#{Gid}
    </update>

    <select id="findGoodsById" parameterType="int" resultType="com.zh.pojo.Goods">
        SELECT * FROM goods
        WHERE Gid=#{Gid}
    </select>



</mapper>